.allAvailable {
    background-color: rgb(27, 116, 47);
}

.someAvailable {
    background-color: rgb(255, 193, 7);
}

.noneAvailable {
    background-color: rgb(255, 139, 7);
}

.overbooked {
    background-color: rgb(172, 0, 0);
}

.highlighted {
    filter: brightness(115%);
}

.statusContainer {
    display: flex;
    flex: 1;
    min-width: 45px;
}

.labelContainer {
    display: flex;
    flex: 2;
    align-items: center;
    max-width: 30%;
    min-width: 140px;
}
