@import '../../style/variables';

$navbar-height-compensation: 50px;
$sidebar-width: 260px;
$sidebar-transition-time: 0.1s;
$sidebar-bottom-off-screen-length: 100px;

.sidebar {
    width: $sidebar-width;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: -$sidebar-bottom-off-screen-length;
    margin-top: $navbar-height-compensation;
    background-color: $backstage-color-2;
    box-shadow: 2px 0 4px rgb(0 0 0 / 25%);

    transition:
        left $sidebar-transition-time,
        width $sidebar-transition-time;
    display: flex;
    flex-direction: column;
}

.sidebarContentContainer {
    overflow-y: auto;
    margin-bottom: $sidebar-bottom-off-screen-length;
    height: 100%;
}

.mainContentContainer {
    transition: margin-left $sidebar-transition-time;
    margin-left: $sidebar-width;
}

.mainContent {
    margin: auto;
}

.mainContentFixedWidth {
    margin: auto;
    max-width: 1200px;
}

.footer {
    border-top: 1px solid $backstage-color-2;
}

.container {
    color: #ededed;
    position: absolute;
    top: $navbar-height-compensation;
    left: 0;
    right: 0;
    bottom: 0;
}

:export {
    skeletonColorBase: $backstage-color-1;
    skeletonColorHighlight: $backstage-color-4;
}

// Handle sidebar toggle and responsive design
//
[data-sidebar-toggle-status='true'] .sidebar {
    left: -$sidebar-width;
}

[data-sidebar-toggle-status='true'] .mainContentContainer {
    margin-left: 0;
}

@media only screen and (max-width: 700px) {
    .sidebar {
        left: -$sidebar-width;
    }
    .mainContentContainer {
        margin-left: 0;
    }

    [data-sidebar-toggle-status='true'] {
        .sidebar {
            left: 0;
        }
    }
}

@media only screen and (max-width: 450px) {
    [data-sidebar-toggle-status='true'] .sidebar {
        width: 100%;
    }
}
