@import '../../style/variables';

$danger-bg: #f44336;
$warning-bg: #ff9800;
$success-bg: #4caf50;
$info-bg: #2196f3;

.header {
    color: white;
    padding: 0.6em 1.1em;
    border-radius: 0;
    border-width: 0;
}

.success .header {
    background-color: $success-bg;
}

.danger .header {
    background-color: $danger-bg;
}

.warning .header {
    background-color: $warning-bg;
}

.info .header {
    background-color: $info-bg;
}

.iconContainer {
    margin-right: 1.1em;
}

.iconContainer .icon {
    width: 1em;
}

.notification {
    min-width: 22em;
    border-radius: 0;
    background-color: $backstage-color-4;
    border-width: 0;
}
