@import '../../style/variables';

.notificationsContainer {
    position: fixed;
    bottom: 1em;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translate(-50%, 0);
    z-index: 2000;
    max-height: 50vh;
    overflow: hidden;
}
