@import "../../style/variables";

.dropdownItem:hover,
.dropdownItem[aria-selected="true"] {
    background-color: $backstage-highlight;
    color: $backstage-text-color;
}

.menu {
    max-height: calc(100vh - 70px) !important;
}
