@import "../../style/variables";

.dropdownItem:hover,
.dropdownItem[aria-selected="true"] {
    background-color: $backstage-highlight;
    color: $backstage-text-color;
}

.dropdownItem:hover::before,
.dropdownItem[aria-selected="true"]::before {
    content: "Öppna ➤";
    float: right;
    color: $text-muted;
}

.menu {
    max-height: calc(100vh - 70px) !important;
}
