@import "../../style/variables";

$side-border-width: 3px;

.main div {
    margin-left: $side-border-width;
    padding: 5px;
}

.main .link:hover,
.main .link.activeNavItem {
    border-left: $side-border-width solid $backstage-primary;
    background-color: $backstage-color-3;
    margin-left: 0px;
}

.main a {
    color: $backstage-text-color;
}

.container h1 {
    text-transform: uppercase;
    font-size: smaller;
    font-weight: 600;
    color: $backstage-dark-text-color;
}

.debugInfo {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
