@import "../../style/variables";

.container {
    z-index: 100;
    background-color: $backstage-color-2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    padding-left: 0.5rem;
}

.search {
    margin: 0 auto;
    max-width: 800px,;
    width: 100%;
}

@media only screen and (max-width: 1100px) {
    .branding {
        transition: width 0.3s, opacity 0.1s;
        width: 200px;
    }

    [data-search-active-status="true"] .branding {
        width: 0px;
        opacity: 0;
    }
}