.profileImage {
    width: 2em;
    height: 2em;
    margin: 0 0.3em;
    display: inline-block;
    position: relative;
    clip-path: circle(50%);
    box-shadow: 0 -10px 10px -10px white inset;
    border-bottom: 2px solid white;
}

.profileImageContent {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-35%) translateX(-50%);
    font-size: 1.6em;
    font-weight: 300;
}
