.navbar {
    z-index: 100;
}

.sidebar {
    width: 260px;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 60px;
    background-color: #f6f6f6;
}

.mainContent {
    margin-left: 260px;
    padding: 15px;
}
