@import "../style/variables";

$side-border-width: 3px;

.main div {
    margin-left: $side-border-width;
    padding: 5px;
}

.main div:hover,
.main div.activeNavItem {
    border-left: $side-border-width solid $primary;
    background-color: $backstage-highlight;
    margin-left: 0px;
}

.main a {
    color: $body-color;
}

.container h1 {
    text-transform: uppercase;
    font-size: smaller;
    font-weight: 600;
    color: $gray-600;
}

.debugInfo {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}