@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 14px;
}

@theme {
    --color-gray-50: #dddddd;
    --color-gray-100: #d9d9d9;
    --color-gray-200: #c0c0c0;
    --color-gray-300: #a7a7a7;
    --color-gray-400: #8e8e8e;
    --color-gray-500: #757575;
    --color-gray-600: #5c5c5c;
    --color-gray-700: #434343;
    --color-gray-800: #2a2a2a;
    --color-gray-900: #121212;
}

.text-muted {
    @apply text-gray-400;
}