@use '../style/variables';

.dropdownItem:hover,
.dropdownItem[aria-selected='true'] {
    background-color: variables.$backstage-color-5;
    color: variables.$backstage-text-color;
}

.menu {
    max-height: 500px !important;
}
