@use '../style/variables';

.truncated {
    overflow-x: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 1px;
}

.hoveredRow {
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: variables.$backstage-color-5;
}

.headingRow td {
    background-color: variables.$backstage-color-2;
}
