@use '../../style/variables';

.fileUploaderArea {
    background-color: variables.$backstage-color-2;

    &:hover {
        background-color: variables.$backstage-color-3;
    }

    &.isDragAccept {
        background-color: variables.$backstage-color-3;
    }
}
